<div class="container d-flex justify-content-center align-items-center">
  <div class="card shadow-lg w-100 d-flex flex-column justify-content-between" style="max-width: 600px; border-radius: 12px; overflow: hidden;">

    <div style="height: 300px; overflow: hidden;">
      <img src="https://assets.afcdn.com/recipe/20210104/116953_w1024h1024c1cx806cy863cxt0cyt382cxb1641cyb1350.jpg"
           class="w-100"
           style="height: 100%; object-fit: cover; object-position: center;"
           alt="recipe image">
    </div>

    <div class="card-body text-center">
      <h1 class="card-title mb-4"><%= @recipe.name %></h1>

      <h5 class="text-start">Portions</h5>
      <p class="text-start"><%= simple_format(" Recipe for #{@recipe.portions} people") %></p>
      <%= link_to "🙋‍♂️ Change portions", edit_portions_recipe_messages_path(@recipe), class: "btn btn-outline-secondary btn-sm" %>

      <h5 class="text-start">Ingrédients</h5>
      <p class="text-start"><%= simple_format(@recipe.ingredients) %></p>
      <%= link_to "🍆 Change ingredients", edit_ingredients_recipe_messages_path(@recipe), class: "btn btn-outline-secondary btn-sm" %>

      <h5 class="text-start">Préparation</h5>
      <p class="text-start"><%= simple_format(@recipe.description) %></p>
      <%= link_to "🥦 Diet recipe", run_low_calories_recipe_messages_path(@recipe), method: :post, class: "btn btn-outline-secondary btn-sm" %>
    </div>

  </div>
</div>
