<div class="card bg-white p-5 rounded-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Chats for <%= @recipe.name %></h1>
    <%= link_to "â†©ï¸ back to the recipe", recipe_path(@recipe), class: 'btn btn-ghost  btn-sm' %>
  </div>

  <div class="mb-4">
    <% if @chats.any? %>
      <div class="col-6">
        <ul>
          <% @chats.each do |chat| %>
            <li class= "list-group-item py-3 border-bottom"><%= link_to "ðŸŒ¶ï¸ #{chat.title}", chat_path(chat) %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      There are no chats yet.
    <% end %>
  </div>

  <%= simple_form_for [@recipe, @chat] do |f| %>
    <%= f.button :submit, "New chat", class: "btn btn-ghost" %>
  <% end %>
</div>
