<div class="position-relative" style="overflow: auto;">

  <%= link_to "â† Back", recipe_chats_path(@chat.recipe) %> /
  <%= link_to @chat.recipe.name, recipe_path(@chat.recipe) %>

  <div id="chat_title" class= "mt-5">
    <h1><%= @chat.title %></h1>
  </div>

  <div id="messages">
    <%= render "chat_messages/messages", chat_messages: @chat.chat_messages %>
  </div>

</div>
<div class="row justify-content-center">
  <div class="col-8">
    <div id="new_message" class= "card bg-white rounded-4 p-1">
      <%= render "chat_messages/form", chat: @chat, chat_message: @chat_message %>
    </div>
  </div>
</div>
